* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: black;
}

.nav-color {
    background-color: #0707146c
}

.hero-part {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.582);
}

.hero-part::before {
    content: "";
    background-image: url(../images/polytechnicBg.jpg);

    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
    z-index: -100;
}

.dark-bg {
    background-color: rgba(0, 0, 0, 0.692);
}